Source: cern-tnsnames-ora
Section: admin
Priority: extra
Standards-Version: 3.7.2
Maintainer: Ubuntu CERN Team <ubuntu-cern-bugs@ninsei.hu>
Build-Depends: debhelper (>= 3)


Package: cern-tnsnames-ora
Architecture: all
Section: admin
Priority: extra
Depends: wget, bsdutils
Description: tnsnames.ora updating mechanism for the Oracle Instantclient.
 This wrapper package adds CERN-specific configuration information to
 the Oracle Instantlient install: a cron job to update it daily the
 /etc/tnsadmin/tnsnames.ora configuration file.
 . 
 Please note that the configuration files is not included and it is 
 only available for download in the CERN internal network!

